[imagerenderer="true"] {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 50% 50%;
}

[imagerenderer="true"].fullscreen {
    position: fixed !important;
    top: 0px;
    left: 0px;
    z-index: 99999;
}
[imagerenderer="true"] canvas{
    padding: 0px !important;
    cursor: default !important;
}

[imagerenderer="true"] .canvas-container{
    padding: 0px;
}

[imagerenderer="true"] div {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0px;
    pointer-events: all;
    justify-content: flex-end;
    padding: 4px 10px;
    box-sizing: border-box;
}
[imagerenderer="true"] .buttonWrapper>button {
    position: relative;
    width: 35px;
    height: 21px;
    color: #fff;
    opacity: .7;
    padding: 0;
    margin: 7px;
    right: 0px;
}

[imagerenderer="true"] .buttonWrapper button {
    background: transparent;
    border: 0;
    outline: none !important;
    box-sizing: border-box;
}
[imagerenderer="true"] button svg {
    fill: currentColor;
    box-sizing: border-box;
    height: 21px;
}
[imagerenderer="true"] .renderer-progressbar {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 5px;
    width: 0%;
    padding: 0px;
    background: #76b900;
    transition: opacity .5s;
}
[imagerenderer="true"] div.buttonWrapper{
    max-height: 40px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
#crop-positioner {
    z-index: 9999999;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: opacity .2s;
    display: block;
    padding: 0px;
}
#crop-positioner table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#crop-positioner div {
display: block;
padding: 0px;
}

#crop-positioner table td {
    background: rgba(0, 0, 0, .42);
}
#crop-positioner table td#north-west-handle,
#crop-positioner table td#north-east-handle,
#crop-positioner table td#north-handle,
#crop-positioner table td#south-west-handle,
#crop-positioner table td#south-east-handle,
#crop-positioner table td#south-handle,
#crop-positioner table td#west-handle,
#crop-positioner table td#east-handle {
    pointer-events: all;
}
#crop-positioner table td#revealed-space {
    pointer-events: all;
}

#crop-positioner.circle table td#revealed-space {
    border-radius: 50%;
    box-shadow: 0px 0px 500px 60px rgba(0, 0, 0, 0.64);
    transform: scale(1.1, 1.1);
}
#crop-positioner table td .handle {
    background: rgba(200, 200, 200, .75);
    box-shadow: inset 0px 0px 0px 1px rgba(50, 50, 50, .75);
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 2px;
    pointer-events: none;
    transition: transform .2s;
}
#crop-positioner table td:hover .handle {
    transform: scale(1.2);
}
#crop-positioner .positioner-cutout {
    position: absolute;
    background: rgba(62, 62, 62, 0.7);
    display: flex;
    pointer-events: all;
}
#crop-positioner .positioner-cutout.cutout-top,
#crop-positioner .positioner-cutout.cutout-bottom {
    width: 100%;
    flex-direction: column;
    left: 0px;
    height: 10%;
    cursor: ns-resize;
}
#crop-positioner .positioner-cutout.cutout-left,
#crop-positioner .positioner-cutout.cutout-right {
    top: 0px;
    height: 100%;
    flex-direction: row;
    min-width: 10px;
    cursor: ew-resize;
    width: 10%;
}
#crop-positioner .positioner-cutout.cutout-top {
    top: 0%;
    justify-content: flex-end;
}
#crop-positioner .positioner-cutout.cutout-bottom {
    bottom: 0%;
    justify-content: flex-start;
}
#crop-positioner .positioner-cutout.cutout-left {
    justify-content: flex-end;
    left: 0%;
}
#crop-positioner .positioner-cutout.cutout-right {
    justify-content: flex-start;
    right: 0%;
}
#crop-positioner .cutout-top .cutout-handle,
#crop-positioner .cutout-bottom .cutout-handle,
#crop-positioner .cutout-left .cutout-handle,
#crop-positioner .cutout-right .cutout-handle {
    border-color: rgba(176, 176, 176, 0.38);
    border-style: dotted;
    border-width: 0px;
}
#crop-positioner .cutout-top .cutout-handle,
#crop-positioner .cutout-bottom .cutout-handle {
    width: 100%;
    height: 5px;
}
#crop-positioner .cutout-top .cutout-handle {
    border-bottom-width: 1px;
}
#crop-positioner .cutout-bottom .cutout-handle {
    border-top-width: 1px;
}
#crop-positioner .cutout-left .cutout-handle,
#crop-positioner .cutout-right .cutout-handle {
    width: 5px;
    height: 100%;
}
#crop-positioner .cutout-left .cutout-handle {
    border-right-width: 1px;
}
#crop-positioner .cutout-right .cutout-handle {
    border-left-width: 1px;
}


[imagerenderer="true"] .zoom-controls{
    flex-direction: column;
    width: 35px;
    height: 35px;
    top: 3px;
    align-items: center;
    position: relative;
    transition: all .5s;
}

[imagerenderer="true"] .zoom-controls:hover,
[imagerenderer="true"] .zoom-controls.mobile{
    height: 125px;
    top: -94px;
}

[imagerenderer="true"] .zoom-controls button{
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    width: 35px;
    height: 21px;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    opacity: 0;
    pointer-events: none;
    margin: 0px;
    position: absolute;
    transition: all .5s;
}

[imagerenderer="true"] .zoom-controls button.zoom-plus{
    opacity: 1;
    pointer-events: all;
    height: 21px;
    position: relative;
}

[imagerenderer="true"] .zoom-controls:hover button.zoom-plus,
[imagerenderer="true"] .zoom-controls.mobile button.zoom-plus,
[imagerenderer="true"] .zoom-controls:hover button,
[imagerenderer="true"] .zoom-controls.mobile button{
    opacity: 1;
    pointer-events: all;
    height: 21px;
    position: relative;
}

[imagerenderer="true"] .zoom-controls button svg{
    width: 100%;
    height: 100%;
}

[imagerenderer="true"] .zoom-controls .zoom-range{
    flex-grow: 1;
    display: block;
    width: 35px;
    padding: 0px;
    position: relative;
    margin: 0px;
    opacity: 0;
    pointer-events: none;
    height: 0px;
    cursor: ns-resize;
    transition: all .5s;
}

[imagerenderer="true"] .zoom-controls .zoom-range:before{
    display: inline-block;
    width: 3px;
    background: rgba(255,255,255,.75);
    margin: 0px auto;
    height: 0px;
    content: "";
    position: absolute;
    left: calc(50% - 1.5px);
    transition: all .25s;
}

[imagerenderer="true"] .zoom-controls:hover .zoom-range,
[imagerenderer="true"] .zoom-controls.mobile .zoom-range{
    opacity: 1;
    height: auto;
    pointer-events: all;
    margin: 5px 0px;
}

[imagerenderer="true"] .zoom-controls:hover .zoom-range:before{
    height: 100%;
}

[imagerenderer="true"] .zoom-controls .zoom-range-handle{
    width: 13px;
    height: 0px;
    background: #fff;
    position: absolute;
    display: block;
    padding: 0px;
    left: calc(50% - 7px);
    transform: translateY(5px);
}

[imagerenderer="true"] .zoom-controls:hover .zoom-range-handle{
    height: 10px;
}